<!DOCTYPE html>
<html lang="en">
  <head>
  <link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <%= link_to "New Year's Re{al}solutions", root_path %>
          </h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">
              <% if user_signed_in? %>
                <%= current_user.username %>
              <% else %>
                <%= link_to "Sign in", new_user_session_path %>
              <% end %>
            </a>

            <ul class="dropdown">
              <% if user_signed_in? %>
                <li>
                  <a href="#">
                     <!-- link_to "My Profile", user_personality_type_path -->
                  </a>
                </li>
                <li>
                  <a href="#">
                    <%= link_to "View All Re[al]solutions", personality_types_path %>
                  </a>
                </li>
                <li>
                  <a href="#">
                    Not you? <%= link_to "Sign out", destroy_user_session_path, method: :delete%>
                  </a>
                </li>
              <% else %>
                <li>
                  <a href="#">
                    <%= link_to "Sign up", new_user_registration_path %>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <%= link_to "View All Re[al]solutions", personality_types_path %>
                  </a>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  <div class="row">
    <div class="small-11 small-centered columns">
      <%= yield %>
      <%= javascript_include_tag "application" %>
    </div>
  </body>
</html>
